<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Augusto Rubio Motors | Usados</title>

    <!-- Bootstrap -->

{% load staticfiles %}
<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
<link href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
<script src="{% static "js/jquery-1.8.3.js" %}"></script>

</head>
<body>
<!-- Docs master nav -->
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-8">
            <a href="#" class="facebook"></a>
            <a href="#" class="twitter"></a>
          </div>        
        </div>
       <div class="navbar-header">
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>          
         <img src="img/logo.png" class="img-responsive" alt="Responsive image">
       </div>

       <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

          <ul class="collapse navbar-collapse bs-navbar-collapse nav navbar-nav">
          <li class="active">
          <a href="#">Inicio</a>
          </li>
          <li>
          <p>|</p>
          </li>
          <li>
          <a href="#">AR Motors</a>
          </li>
          <li>
          <p>|</p>
          </li>
          <li>
          <a href="#">Servicios</a>
          </li>
          <li>
          <p>|</p>
          </li>
          <li>
          <a href="#">Usados</a>
          </li>
          <li>
          <p>|</p>
          </li>
          <li>
          <a href="#">Contacto</a>
          </li>        
        </ul>
       </nav>
      </div>
      </header>

  </body>
</html>