{% extends "base.html" %}
{% load staticfiles %}
 {% block header %}
            <ul class="collapse navbar-collapse bs-navbar-collapse nav navbar-nav">
            <li>
            <a href="/vehiculo" >Inicio</a>
            </li>
            <li>
            <p>|</p>
            </li>
            <li>
            <a href="/vehiculo/about">AR Motors</a>
            </li>
            <li>
            <p>|</p>
            </li>
            <li>
            <a href="/vehiculo/servicios">Servicios</a>
            </li>
            <li>
            <p>|</p>
            </li>
            <li>
            <a href="/vehiculo/busqueda">Usados</a>
            </li>
            <li>
            <p>|</p>
            </li>
            <li class="active">
            <a href="#">Contacto</a>
            </li>        
          </ul>
  {% endblock %}
{% block content %}
  <div class="bs-header">
      <div class="container" id="about"> 
        <div class="row">
          <h3>CONTACTO</h3>
        </div>
        
      </div>
  </div>  
  <div class = "container" id="contact">
    <div class="col-md-6"> 
      <h1>Tu mensaje ha sido enviado.</h1>
    </div>
  </div>
{% endblock %}